* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    text-decoration: none;
}

body {
    background-color: rgb(16, 65, 74);
    font-size: 0.7rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 30px
}
p {
    line-height: 25px;
}

a {
    border-radius: 20px;
    padding: 10px 40px;
    margin-top: 40px;
    display: inline-block;
    font-size: 1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#section1 a:hover, #section2 a:hover{
    background-color: rgb(16, 65, 74);
    color: white;
}

#section1 {
    height: 50vh;
    background: rgba(0,0,0,0.2) url(assets/images/banner-1.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

#section1 a {
    background-color: white;
    color: black;
}

#section2 {
    background-color: rgb(229, 246, 225);
    text-align: center;
    padding: 10vh 20vw;
}

#section2 a {
    background-color: black;
    color: white;
}

#section3 {
    height: 50vh;
    background-image: url(assets/images/banner-2.jpg);
    background-size: cover;
    background-position: center;
}

footer {
    background-color:  rgb(16, 65, 74);
    color: white;
    text-align: center;
    padding: 1% 10%;
}
